/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.row {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  float: right;
}

.flags a img {
  float: right;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
